<a href="https://colab.research.google.com/github/maullindaaa/M2P1V3_Struktur_Data_Tuple/blob/main/M2P1V3_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Struktur Data Tuple
Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi dengan cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1,"dua",True,1+2j)
print("ini adalah Tuple: ",T1)

ini adalah Tuple:  (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan Struktur data
type(T1)

tuple

**Latihan**

In [ ]:
#Buatlah Tuplemu sendiri
Tuple1 = ("HP",False,4+1j,8)
print("ini Tuple saya sendiri:",Tuple1)
type(Tuple1)

ini Tuple saya sendiri: ('HP', False, (4+1j), 8)

tuple

**Sifat-sifat Tuple**

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/Immutable
T1[2]="manusia"

TypeError: ignored

In [ ]:
#Dapat diindeks/Slicing
print("elemen kedua dari Tuple T1 adalah:", T1[1])

elemen kedua dari Tuple T1 adalah: dua

In [ ]:
#Dapat diijikan duplikasi
T2=(3,2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tuple**

In [ ]:
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
Tuple2 = (8.9,True,8,1)
Gabung = Tuple1 +Tuple2
Gabung

('HP', False, (4+1j), 8, 8.9, True, 8, 1)